# Import Dependencies

In [1]:
from bs4 import BeautifulSoup as bs 
import requests 
from splinter import Browser
import pymongo
import pandas as pd

# Finding Most recent title and summary

In [2]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

In [3]:
response = requests.get(url)

In [4]:
 # Create BeautifulSoup object; 
soup = bs(response.text, 'lxml')

In [ ]:
print(soup.prettify())

In [11]:
news_title = soup.find('div', class_='content_title').text
news_title.replace("\n","")

"Alabama High School Student Names NASA's Mars Helicopter"

In [17]:
list_text = soup.find('div', class_='rollover_description').text
list_text.replace("\n","")

"Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet."

# Find the SpaceImage using splinter

In [14]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [ ]:
html = browser.html
soup = bs(html, 'html.parser')
soup

In [17]:
feat_img = soup.find("div", class_='carousel_items').find("article", class_='carousel_item').find("a")['data-fancybox-href']
print(feat_img)

/spaceimages/images/mediumsize/PIA17171_ip.jpg

In [18]:
full_url = f'https://www.jpl.nasa.gov{feat_img}'
print(full_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17171_ip.jpg

# Close Browser

In [19]:
browser.quit()

# Scraping Twitter

In [20]:
url = 'https://twitter.com/marswxreport?lang=en'

In [21]:
response = requests.get(url)

In [22]:
soup = bs(response.text, 'lxml')

In [ ]:
print(soup.prettify())

In [30]:
tweet = soup.find('p', class_ = "TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(tweet)

InSight sol 517 (2020-05-10) low -92.6ºC (-134.7ºF) high 1.2ºC (34.2ºF)
winds from the SW at 4.9 m/s (11.0 mph) gusting to 17.5 m/s (39.2 mph)
pressure at 7.00 hPapic.twitter.com/wM9OaiiRhy

# Scraping Mars Facts using pandas

In [32]:
url = 'https://space-facts.com/mars/'

In [33]:
tables = pd.read_html(url)

In [34]:
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [37]:
mars_facts = tables[0]

In [38]:
mars_facts

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [39]:
mars_facts.to_html('mars_facts.html')

# Scraping Mars Hemispheres

In [40]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [41]:
response = requests.get(url)

In [43]:
soup = bs(response.text, 'lxml')

In [ ]:
print(soup.prettify())

In [87]:
title = []
hemi = soup.find_all('div', class_ = 'description')
hemi = soup.find_all('h3')
hemi[0].text.replace('Enhanced','')
for i in hemi:
    title.append(i.text.replace('Enhanced',''))
title

['Cerberus Hemisphere ',
 'Schiaparelli Hemisphere ',
 'Syrtis Major Hemisphere ',
 'Valles Marineris Hemisphere ']

In [83]:
new_url = []
for a in soup.find_all('a', class_ = 'itemLink product-item', href=True):
    new_url.append(a['href'])
new_url

['/search/map/Mars/Viking/cerberus_enhanced',
 '/search/map/Mars/Viking/schiaparelli_enhanced',
 '/search/map/Mars/Viking/syrtis_major_enhanced',
 '/search/map/Mars/Viking/valles_marineris_enhanced']

In [105]:
hemi_url = 'https://astrogeology.usgs.gov/'
imgs = []
for i in new_url:
    response = requests.get(f'{hemi_url}{i}')
    soup = bs(response.text, 'lxml')
    finder =  soup.find('img', class_ = 'wide-image')
    full_url_img = f'{hemi_url}{finder["src"]}'
    imgs.append(full_url_img)

In [106]:
imgs

['https://astrogeology.usgs.gov//cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov//cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov//cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg',
 'https://astrogeology.usgs.gov//cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg']

In [127]:
hemi_list = []
hemi_dict = {}
y = 0
for i in title:
    hemi_dict = {'title':i , 'images_url': imgs[y]}
    hemi_list.append(hemi_dict)
    y += 1

In [128]:
hemi_list

[{'title': 'Cerberus Hemisphere ',
  'images_url': 'https://astrogeology.usgs.gov//cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere ',
  'images_url': 'https://astrogeology.usgs.gov//cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere ',
  'images_url': 'https://astrogeology.usgs.gov//cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere ',
  'images_url': 'https://astrogeology.usgs.gov//cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'}]